<a href="https://colab.research.google.com/github/KVVisDon/Data-Mining-Project/blob/main/Team_Microsoft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Team Microsoft

## 1: Import packages

In [4]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
from matplotlib import collections  as mc

%load_ext autoreload
%autoreload 2

import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
sns.set_style("white")

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/KVVisDon/Data-Mining-Project/main/data/training_data.csv")
df.head()

      id    keyword  ...                                               text target
0   3738  destroyed  ...  Black Eye 9: A space battle occurred at Star O...      0
1    853  bioterror  ...  #world FedEx no longer to transport bioterror ...      0
2  10540  windstorm  ...  Reality Training: Train falls off elevated tra...      1
3   5988  hazardous  ...  #Taiwan Grace: expect that large rocks trees m...      1
4   6328    hostage  ...  New ISIS Video: ISIS Threatens to Behead Croat...      1

[5 rows x 5 columns]